VITE_URL_DB = "http://localhost:5000/v1/"
VITE_URL_TMDB = "https://api.themoviedb.org/3/"
VITE_APIKEY_TMDB = "" # APIKEY
VITE_URL_IMDB = "https://imdb-api.com/"
VITE_APIKEY_IMDB =  "" # APIKEY
# https://www.plexopedia.com/plex-media-server/api/
VITE_URL_PLEX = "http://[IP address]:32400/library/" 
VITE_APIKEY_PLEX = "" # APIKEY PLEX

# Set to "true" to intercept all TMDB/IMDB calls and return local mock data.
# Fictional test entities: movie id=99999, tv id=99998, person id=99997
VITE_USE_MOCKS = "false"
VITE_NOT_USE_IMDB = "false"